<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../auth0-authenticator/auth0-fetch.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">

<dom-module id="abas-user-info">
  <template>
    <abas-config-meta data="{{configuration}}"></abas-config-meta>
  </template>

  <script>
    /**
     * `abas-user-info`
     * Fetches abas user info from abas REST API
     * 
     * Usage example:
     * <abas-user-info company="erp" 
     *                 user-info="{{userInfo}}"></abas-user-info>
     * 
     * userInfo will contain something like this:
     * {
     *   operatorID: "DEMO", 
     *   email: "demo@abas.com", 
     *   account: "(1108,12,0)", 
     *   employee: "(165,11,0)"
     * }
     *
     * <abas-user-info company="erp" 
     *                 operatorID="{{operatorID}}"
     *                 email="{{email}}"
     *                 account="{{account}}"
     *                 employee="{{employee}}"></abas-user-info>
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasUserInfo extends Polymer.Element {
      static get is() { return 'abas-user-info'; }
      static get properties() {
        return {
          userInfo: {
            type: Object,
            value: {},
            notify: true
          },
          operatorID: {
            type: String,
            value: "",
            notify: true
          },
          email: {
            type: String,
            value: "",
            notify: true
          },
          account: {
            type: String,
            value: "",
            notify: true
          },
          employee: {
            type: String,
            value: "",
            notify: true
          },
          company: {
            type: String
          },
          configuration: {
            type: Object,
            value: {}
          }
        };
      }

      /**
        * Array of strings describing multi-property observer methods and their
        * dependant properties
        */
      static get observers() {
        return [
          '_debounceConfigUpdate(configuration,configuration.*,configuration.splices,company)'
        ];
      }

      _debounceConfigUpdate() {
        // the observer is triggerd twice
        // I dont know why at the moment
        // debouncing will slurp one request and listener to userinfo are not invoked
        this._debouncer = Polymer.Debouncer.debounce(
          this._debouncer, // initially undefined
          Polymer.Async.timeOut.after(10),
          () => {
            this.configurationChanged()
          });
      }

      configurationChanged() {
        if (_.isEmpty(this.configuration)) {
          return;
        }
        if (!_.get(this.configuration, 'api.erpBaseURL')) {
          return;
        }
        if (!this.company) {
          return
        }
        this._fetchUserInfo();
      }

      _fetchUserInfo() {

        const _baseURL = `${this.configuration.api.erpBaseURL}/mw/r/${this.company}`;

        auth0Fetch(`${_baseURL}/userInfo`, {
          headers: new Headers({
            'accept': 'application/abas.objects+json',
          })
        }).then((resp) => {
          if (resp.status === 200) {
            return resp.json();
          }
          throw new Error(`This ain't working. Request to middleware failed.`)
        }).then((mwResponse) => {
          let userInfo = _.get(mwResponse, 'content.data');
          if (!userInfo) {
            console.error('middleware response is not as expected');
            return
          }

          this.set('userInfo', {
            operatorID: userInfo.code.value,
            email: userInfo.email.value,
            account: userInfo.account.value,
            employee: userInfo.employee.value
          });

          this.operatorID = this.userInfo.operatorID;
          this.email = this.userInfo.email;
          this.account = this.userInfo.account;
          this.employee = this.userInfo.employee;

        });
      }
    }

    window.customElements.define(AbasUserInfo.is, AbasUserInfo);
  </script>
</dom-module>